@import "./variables";
@import "./mixin";

nav {
     height: 70px;
     width: 100%;
     display: flex;
     margin-top: -5px;

     & .navbar-conatiner {
          width: 100%;
          display: flex;
          justify-content: space-between;

          & .logo-box {
               height: 90%;
               display: flex;
               align-items: center;
               margin-left: 20px;

               & .logo {
                    float: left;
                    height: 37px;
               }
          }

          & .profile-noti {
               & ul {
                    height: 100%;
                    width: 210px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding-inline-start: 0px;
                    margin: 0;

                    & li {
                         position: relative;
                         list-style: none;

                         .notification {
                              position: absolute;
                              width: 19px;
                              height: 19px;
                              left: 10px;
                              top: -12px;
                              font-size: 10px;
                              color: $fcolor;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              border-radius: 50px;
                              background-color: rgb(100, 62, 68);
                         }

                         #profile-img {
                              /* import from variables.scss */
                              height: $profileimagesize;
                              width: $profileimagesize;
                              border-radius: 25px;
                         }

                         & a {
                              text-decoration: none;
                              /* import from variables.scss */
                              font-size: $size15;
                              color: $anchortag;
                              font-family: 'Arimo', sans-serif;

                              & .fas {
                                   /* import from variables.scss */
                                   font-size: $iconsize;
                              }

                              &:hover {
                                   color: rgb(76, 124, 80);
                              }
                         }
                    }
               }

          }

     }

}


.search {
     height: 93%;
     width: 40%;
     display: flex;
     align-items: center;
     position: relative;

     & .searchbox {
          position: absolute;
          width: 100%;
          height: 31px;
     }

     & input {
          height: 100%;
          width: 100%;
          /* import from variables.scss */
          font-size: $size13;
          border-radius: 50px;
          padding: 0px 10px;
          background: #f4f2f2;
          font-family: 'Arimo', sans-serif;
     }

     & .fa-search {
          position: absolute;
          top: 9px;
          right: 10px;
          width: 30px;
          height: 30px;
          text-align: center;
          /* import from variables.scss */
          color: $anchortag;
          font-size: $size15;
     }
}