@import "./variables";
@import "./mixin";

nav {
     height: 70px;
     width: 100%;
     display: flex;
     margin-top: -5px;

     & .navbar-conatiner {
          width: 100%;
          display: flex;
          justify-content: space-between;

          & .logo {
               height: 100%;
               display: flex;
               align-items: center;
               margin-left: 20px;

               img {
                    height: 3.7rem;
               }
          }

          & .profile-noti {
               & ul {
                    height: 100%;
                    width: 210px;
                    display: flex;
                    align-items: center;
                    justify-content: space-around;
                    padding-inline-start: 0px;
                    margin: 0;

                    & li {
                         position: relative;
                         list-style: none;

                         .notification {
                              position: absolute;
                              width: 19px;
                              height: 19px;
                              left: 11px;
                              top: -10px;
                              font-size: 10px;
                              color: $fcolor;
                              display: flex;
                              align-items: center;
                              justify-content: center;
                              border-radius: 50px;
                              background-color: rgb(100, 62, 68);
                         }

                         #profile-img {
                              /* import from variables.scss */
                              height: 3.7rem;
                              width: 3.7rem;
                              border-radius: 25px;
                         }

                         & a {
                              text-decoration: none;
                              /* import from variables.scss */
                              font-size: $size15;
                              color: $anchortag;
                              font-family: 'Arimo', sans-serif;

                              & .fas {
                                   /* import from variables.scss */
                                   font-size: $iconsize;
                              }

                              &:hover {
                                   color: rgb(76, 124, 80);
                              }
                         }
                    }
               }

          }

     }

}


.search {
     height: 100%;
     width: 40%;
     display: flex;
     align-items: center;
     // position: relative;

     & .searchbox {
          position: relative;
          width: 100%;
          height: 31px;
     }

     & input {
          position: absolute;
          height: 100%;
          width: 100%;
          /* import from variables.scss */
          font-size: $size13;
          border-radius: 50px;
          padding: 0px 10px;
          background: #f4f2f2;
          font-family: 'Arimo', sans-serif;
     }

     & .fa-search {
          position: absolute;
          top: 0.9rem;
          right: 1rem;
          width: 3rem;
          height: 3rem;
          text-align: center;
          /* import from variables.scss */
          color: $anchortag;
          font-size: $size15;
     }
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
     nav {
          height: 64px;

          & .navbar-conatiner {
               & .logo {
                    margin-left: 1rem;

                    img {
                         height: 2.7rem;
                    }
               }

               & .profile-noti {
                    & ul {

                         & li {

                              .notification {
                                   width: 1.8rem;
                                   height: 1.8rem;
                                   left: 1.1rem;
                                   top: -1rem;
                                   font-size: 0.9rem;
                              }

                              #profile-img {
                                   /* import from variables.scss */
                                   height: 3.5rem;
                                   width: 3.5rem;
                              }

                              & a {
                                   /* import from variables.scss */
                                   font-size: $size14;

                                   & .fas {
                                        font-size: 1.9rem;
                                   }
                              }
                         }
                    }

               }

          }
     }

     .search {
          width: 44%;

          & .searchbox {
               position: relative;
               height: 28px;
          }

          & .fa-search {
               top: 8px;
               right: 4px;
               font-size: $size14;
          }
     }

}

@media only screen and (min-width: 265px) and (max-width: 600px) {
     nav {
          height: auto;

          & .navbar-conatiner {
               display: flex;
               flex-wrap: wrap;
               justify-content: space-between;

               & .logo {
                    height: 50px;
                    margin-left: 5px;
                    margin-left: 1rem;
                    align-items: flex-end;

                    img {
                         height: 2.5rem;
                         margin-bottom: 7px;
                    }
               }

               & .profile-noti {
                    & ul {
                         height: 40px;
                         width: 190px;
                         margin: 10px 0 0 0;

                         & li {

                              .notification {
                                   width: 1.6rem;
                                   height: 1.6rem;
                                   left: 1rem;
                                   top: -0.9rem;
                                   font-size: 0.9rem;
                              }

                              #profile-img {
                                   /* import from variables.scss */
                                   height: 3.3rem;
                                   width: 3.3rem;
                              }

                              & a {
                                   /* import from variables.scss */
                                   font-size: $size14;

                                   & .fas {
                                        font-size: 1.7rem;
                                   }
                              }
                         }
                    }

               }

          }
     }

     .search {
          // width: 44%;
          display: flex;
          order: 1;
          flex: 0 0 95%;
          width: 100%;
          height: 28px;
          z-index: 1;
          margin: 3px 0 5px 0;
          position: relative;

          & .searchbox {
               position: relative;
               height: 27px;
          }

          & .fa-search {
               top: 7px;
               right: 4px;
               font-size: $size14;
          }
     }

}

@media only screen and (max-width: 265px) {
     nav {
          height: auto;

          & .navbar-conatiner {
               display: flex;
               flex-wrap: wrap;
               justify-content: space-between;

               & .logo {
                    height: 50px;
                    margin-left: 5px;
                    margin-left: 1rem;
                    align-items: flex-end;
                    display: none;

                    img {
                         height: 2.5rem;
                         margin-bottom: 7px;
                    }
               }

               & .profile-noti {
                    & ul {
                         height: 40px;
                         width: 190px;
                         margin: 10px 0 0 0;

                         & li {

                              .notification {
                                   width: 1.6rem;
                                   height: 1.6rem;
                                   left: 1rem;
                                   top: -0.9rem;
                                   font-size: 0.9rem;
                              }

                              #profile-img {
                                   /* import from variables.scss */
                                   height: 3.3rem;
                                   width: 3.3rem;
                              }

                              & a {
                                   /* import from variables.scss */
                                   font-size: $size14;

                                   & .fas {
                                        font-size: 1.7rem;
                                   }
                              }
                         }
                    }

               }

          }
     }

     .search {
          display: flex;
          order: 1;
          flex: 0 0 90%;
          width: 100%;
          height: 28px;
          z-index: 1;
          margin: 3px 0 5px 0;
          position: relative;

          & .searchbox {
               position: relative;
               height: 27px;
          }

          & .fa-search {
               top: 7px;
               right: 4px;
               font-size: $size14;
          }
     }

}