@import "./variables";
@import "./mixin";

.sidenav {
  left: 0;
  top: 0px;
  width: 0;
  height: 100vh;
  z-index: 99;
  position: fixed;
  transition: 0.5s;
  padding-top: 70px;
  overflow: auto;
  background-color: #333;

  & .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 34px;
    margin-left: 50px;
  }
}

.sideclose {
  & a {
    padding: 13px 0 13px 0;
    font-size: $size14;
    text-decoration: none;
    color: $fcolor;

    &:hover {
      color: wheat;
    }
  }
}


.sidenavlink {
  & a {
    padding: 13px 13px 13px 22px;
    margin-top: 5px;
    text-decoration: none;
    font-size: $size14;
    color: $fcolor;
    display: block;
    transition: 0.3s;

    &.active {
      /* import from variables.scss */
      background: $anchortag;
    }

    &:hover {
      /* import from variables.scss */
      background-color: $hovercolor;
    }
  }
}

.navicon {
  width: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.8rem;
  cursor: pointer;
}

/*-----index footer-------*/
.index-copy-right {
  /* import from variables.scss */
  color: $fcolor;
  font-size: $size13;
  text-align: center;
  position: absolute;
  bottom: 7px;
}

@media only screen and (min-width: 600px) and (max-width: 768px) {
  .navicon {
    font-size: 2.4rem;
  }
}

@media only screen and (min-width: 200px) and (max-width: 600px) {

  .sidenav {

    & .closebtn {
      font-size: 3rem;
    }
  }

  .sideclose {
    & a {
      padding: 12px 0;
      font-size: $size13;
    }
  }


  .sidenavlink {
    & a {
      padding: 13px 13px 13px 30px;
      font-size: $size13;
    }
  }

  .navicon {
    width: 30px;
    height: 45px;
    font-size: 2.2rem;
    align-items: flex-end;
    justify-content: flex-end;
  }

  .index-copy-right {
    /* import from variables.scss */
    font-size: $size12;
    bottom: 7px;
  }
}