$size15: 15px;
$size14: 14px;
$size13: 13px;
$size12: 12px;
$size11: 11px;
$size10: 10px;
$size20: 20px;
$size16: 16px;
$size16: 17px;
$size16: 18px;
$size16: 19px;
$iconsize: 20px;

$anchortag: #eb2f64;

$textcolor: #333;

$b3color: #333;

$hovercolor: #eb2f64;

$fcolor: #ffffff;

$buttonscolor: #ff0000;

$background: #d9d9d95e;

$sidenavbackground: #333;

$stariconcolor: #eb2f64;

$fontfamily: 'Arimo',
sans-serif;

$centercontentborder: 1px solid #e8e3e3;

$profileimagesize: 37px;

$boxshadow: 0px 0 15px rgba(0, 0, 0, .1);

$flightmaincolor: #194A4E;