@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&display=swap');
@import "./navbar";
@import "./sidenav";
@import "./toursstyle";
@import "./flights";
@import "./rental";
@import "./mixin";
@import "./variables";
@import "./footer";

* {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
}

html {
     scroll-behavior: smooth;
     font-size: 10px;
}

#loader {
     position: fixed;
     width: 100%;
     height: 100vh;
     overflow: hidden;
     background: #fff url('../images/loader.gif') no-repeat center;
     z-index: 9999;
}

// section {
//      margin-top: -5px;
// }

/*---------image view-------*/
.image {
     display: flex;
     width: 100%;

     & img {
          height: 225px;
          width: 33.33%;
     }
}

/*---------ratting section-------*/
.ratting {
     width: 100%;
     height: 60px;
     display: flex;
     justify-content: space-between;
     box-shadow: $boxshadow;

     & .hname-ratting {
          height: 100%;
          width: 400px;
          display: flex;
          align-items: center;
          justify-content: space-evenly;

          & .hname {
               color: $anchortag;
               font-size: 23px;
          }

          & .material-icons {
               padding-top: 4px;
               font-size: 19px;
               padding-left: 2px;
               color: $stariconcolor;
          }
     }
}

.location-right {
     height: 100%;
     display: flex;
     align-items: center;

     & .location {
          padding-right: 22px;
          text-align: center;
          color: $stariconcolor;

          & a {
               display: flex;
               align-items: center;
               color: $stariconcolor;
               text-decoration: none;
          }
     }
}

.fa-map-marker-alt {
     font-size: 1.5rem;
}

.areaname {
     border-bottom: 2px solid $hovercolor;
     padding-bottom: 1px;
     font-size: $size14;
     font-weight: bold;

}

.overallratting {
     height: 60px;
     width: 75px;
     background: $hovercolor;

     & .numberrate {
          text-align: center;
          color: white;
          font-size: $size16;
          padding-top: 7px;
     }

     & .allratting {
          text-align: center;
          font-size: $size11;
          color: white;
     }
}

/*---------center content-------*/

.main {
     display: flex;
     justify-content: space-evenly;
     width: 100%;

     & .speciality {
          display: flex;

          & .float-left {
               padding: 15px 80px 20px 0px;
               font-size: $size13;
          }

          & .float-right {

               font-size: $size13;
               padding-top: 20px;
          }

          & .fa-angle-right {
               padding-top: 10px;
          }

     }

     hr {
          border-radius: 50px;
          background-color: #e8e3e3;
     }
}

.center-content {
     width: 700px;
     display: flex;
     flex-direction: column;
     box-shadow: $boxshadow;
     padding: 27px 20px 0 50px;
     margin: 45px 7px 45px 15px;

     & .text {
          font-size: $size13;
     }

     & .second-paragraph {
          padding-top: 20px;
     }
}

.row1 {
     display: flex;

     & .recommend {
          font-size: $size13;
          padding: 35px 80px 30px 0px;
     }

     & .recommendimage {
          padding-top: 25px;

          & img {
               height: $profileimagesize;
               width: $profileimagesize;
               border-radius: 2.5rem;

          }

          & .img1 {
               margin-left: -1.6rem;
          }
     }
}


/*---------review ratting-------*/
.right-item {
     margin: 45px 15px 45px 7px;
     width: 360px;
}

.profilequotes {
     width: 100%;
     box-shadow: $boxshadow;

     & .profiletext {
          font-size: $size13;
          margin-top: -20px;
          padding: 0px 5px 20px 22px;
     }

     & .quotesimage {
          padding-left: 20px;

          & img {
               height: $profileimagesize;
               width: $profileimagesize;
               border-radius: 25px;
          }
     }
}

.quotes-inner {
     height: 55px;
}

.fa-quote-left {
     font-size: 40px;
     color: #f3e2e2;
}

.reviewername {
     font-size: $size13;
     font-weight: 500;
     padding-left: 73px;
     margin-top: -37px;
}

.reviewdate {
     font-size: $size11;
     font-weight: 200;
     padding-left: 73px;
}

.ratenumber {
     font-size: $size20;
     float: right;
     margin-top: -35px;
     padding-right: 30px;
}

/*---------quotes-------*/
.quotes {
     width: 100%;
     margin-top: 50px;
     box-shadow: $boxshadow;

     & .quotestext {
          font-size: $size13;
          padding: 0px 5px 20px 22px;
          margin-top: -21px;

     }

     & .quotesimage {
          padding-left: 20px;

          & img {
               height: $profileimagesize;
               width: $profileimagesize;
               border-radius: 25px;
          }
     }
}

/*-----------show all link--------*/
.showalllink {
     text-align: center;
     padding-top: 30px;

     & a {
          font-size: $size14;
          color: rgb(46, 36, 36);
          text-decoration: none;
          padding-bottom: 1px;
          border-bottom: 2px solid $hovercolor;
     }
}


@media only screen and (min-width: 768px) and (max-width: 950px) {

     .image {
          & img {
               height: 210px;
          }
     }

     .main {
          display: flex;
          justify-content: space-between;
          width: 100%;

          & .speciality {

               & .float-left {
                    padding: 15px 50px 10px 20px;
               }

               & .float-right {
                    padding-top: 15px;
               }

               & .fa-angle-right {
                    padding-top: 8px;
               }

          }
     }

     .center-content {
          width: 600px;
          height: 420px;
          margin: 30px;
          padding: 20px 20px 0px 20px;

          & .text {
               padding-bottom: 15px;
          }
     }

     .row1 {
          display: flex;

          & .recommend {
               padding: 25px 10px 20px 0px;
          }

          & .recommendimage {
               padding-top: 15px;
          }
     }

     .right-item {
          margin: 30px 30px 0px 0px;
          width: 330px;

          .quotes {
               margin-top: 30px;
          }
     }

     .showalllink {
          padding-top: 15px;
     }
}


@media only screen and (min-width: 600px) and (max-width: 768px) {

     .image {
          & img {
               height: 170px;
          }
     }

     /*---------ratting section-------*/
     .ratting {

          & .hname-ratting {
               width: 350px;

               & .hname {
                    color: $anchortag;
                    font-size: 2.1rem;
               }

               & .material-icons {
                    font-size: 1.8rem;
               }
          }
     }

     .location-right {
          & .location {
               padding-right: 1.8rem;
          }
     }

     .fa-map-marker-alt {
          font-size: 1.4rem;
     }

     .main {
          width: 100%;
          display: flex;
          flex-wrap: wrap;
          justify-content: center;
     }

     .center-content {
          width: 100%;
          margin: 20px;
     }

     .right-item {
          margin: 10px 20px 35px 20px;
          width: 100%;

          .quotes {
               margin-top: 30px;
          }

          .showalllink {
               padding-top: 20px;
          }
     }

     #booknowbtn {
          height: 40px;
          width: 200px;
          font-size: 14px;

          &:hover {
               font-size: 16px;
          }
     }
}

@media only screen and (max-width: 600px) {

     .image {
          & img {
               height: 110px;
          }
     }

     /*---------ratting section-------*/
     .ratting {
          height: 48px;

          & .hname-ratting {
               width: 290px;
               margin-right: 20px;

               & .hname {
                    width: 52%;
                    font-size: 1.7rem;
               }

               & span {
                    width: 75px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    & .material-icons {
                         padding-top: 0;
                         padding-left: 0px;
                         font-size: 1.4rem;
                    }
               }
          }
     }

     .location-right {
          height: 100%;

          & .location {
               padding-right: 0.7rem;
          }
     }

     .fa-map-marker-alt {
          font-size: 1.3rem;
          margin-right: 1px;
     }

     .areaname {
          width: 48px;
          height: 100%;
          font-weight: 500;
          font-size: 1.1rem;
          padding-bottom: 1px;
          border-bottom: 1px solid $hovercolor;

     }

     .overallratting {
          width: 55px;
          height: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;

          & .numberrate {
               padding-top: 4px;
               font-size: $size14;
          }

          & .allratting {
               font-size: 1rem;
          }
     }

     /*---------center content-------*/

     .main {
          flex-wrap: wrap;

          & .speciality {
               display: flex;
               flex-wrap: wrap;
               align-items: center;
               justify-content: space-between;


               & .float-left {
                    padding: 1rem 0 9px 0;
               }

               & .float-right {
                    padding-top: 0rem;
               }

          }
     }

     .center-content {
          width: 700px;
          margin: 15px;
          padding: 10px 5px 10px 15px;
          display: flex;
          flex-direction: column;

     }

     .row1 {
          height: 70px;
          margin-bottom: 5px;
          display: flex;
          flex-wrap: wrap;
          align-items: center;
          justify-content: space-around;

          & .recommend {
               font-size: $size13;
               padding: 0;
          }

          & .recommendimage {
               padding-top: 0;

               & .img1 {
                    margin-left: -1rem;
               }
          }
     }


     /*---------review ratting-------*/
     .right-item {
          margin: 15px 15px 30px 15px;
          width: 100%;
     }

     /*---------quotes-------*/
     .quotes {
          margin-top: 30px;
     }

     /*-----------show all link--------*/
     .showalllink {
          padding-top: 20px;
     }

     .foootertext {
          text-align: center;
          font-size: 14px;
          padding: 0px 5px 20px 5px;
     }

     #booknowbtn {
          height: 36px;
          width: 150px;
          font-size: 12px;

          &:hover {
               font-size: 14px;
          }
     }

}